.interfaces-modal{
	-fx-background-color: #808080
	-fx-padding: 15
	-fx-spacing: 20
	-fx-min-width: 500;
	-fx-min-height: 100;
}

.interface-row{
	-fx-min-width: 200;
	-fx-min-height: 50;
}

.interface-status-image{
	-fx-effect: dropshadow(gaussian, gray, 5, 0.5, 1, 1);
}