.interfaces-modal{
	-fx-background-color: #808080
	-fx-min-width: 100;
	-fx-min-height: 50;
}

.interface-row{
	-fx-font-size: 20px;
	-fx-border-color: transparent transparent black transparent; 
	-fx-border-width: 0 0 1 0;
}

.interface-status-image{
	-fx-effect: dropshadow(gaussian, gray, 5, 0.5, 1, 1);
}